.contentCities{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    height: 75%;
}
.citiesList{
    max-height: 80%;
    overflow-y: scroll;
}
.citiesList div{
    background-size: cover;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8f9fa;
    text-shadow: 3px 1px black;
}
.filterDiv{
    display:flex;
    justify-content: center;
}
.filterDiv input{
    border: 2px solid #6c757d;
    width: 95%;
    font-size: 1.5em;
    border-radius: 5px;
}


.citiesList a{
    color: #fdfdfd;
    font-weight: 650;
    text-shadow: 4px 2px 4px black;
    font-size: 2.5em;
    width: 100%;
    text-align: center;
}